[Unit]
Description=SOTA Client Autoprovisioning
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/var/sota
Environment=SOTA_CERT_DIR=/var/sota
ExecStart=/usr/bin/sota_provision.sh sota_provisioning_credentials
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
