[Unit]
Description=Aktualizr SOTA Client
Wants=network-online.target
After=network.target network-online.target
Requires=network-online.target

[Service]
RestartSec=10
Restart=always
ExecStart=/usr/bin/aktualizr --config /usr/lib/sota/sota.toml

[Install]
WantedBy=multi-user.target
