[Match]
Name=enp0s4

[Network]
Description=Private internal network between aktualizr Primary and Secondary nodes
DHCPServer=yes
Address=192.168.254.1/24
IPForward=yes
IPMasquerade=yes

[DHCPServer]
PoolOffset=10
